.ee-team-block {
    min-height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;

    @include touch {
        background-size: contain;
        background-position: top right;
        padding-top: 8rem;
    }
}

.ee-team-block__title {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.ee-team-block__headline {
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.ee-team-block__body {
    font-weight: 600;
    line-height: 1.8;
    color: rgba(white, 0.7);
    margin-bottom: 2rem;
}

.ee-team-block__buttons-container {
    display: flex;
    flex-direction: column;

    & > * {
        display: flex;
        width: 12rem;
        justify-content: center;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        @include touch {
            width: 100%;
        }
    }
}
