{% extends 'base.html' %}

{% load svg %}
{% load i18n %}
{% load main_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load webpack_static from webpack_loader %}

{% block title %}
    {{ page.title }} - {{ block.super }}
{% endblock title %}

{% block facebook_pixel_events %}
    {{ block.super }}
    fbq('track', 'ViewContent');
{% endblock %}

{% block content %}
    {% image page.background_image max-2560x2048 as background_image %}
    <section class="ee-hero ee-subpage-hero" style="background-image: url('{{ background_image.url }}')">
        <div class="ee-hero__spacer"></div>
        <div class="ee-hero-body">
            <div class="container">
                <h1 class="ee-title--large">
                    {{ page.title }}
                </h1>
            </div>
        </div>
    </section>

    <section class="ee-section">
        <div class="container">
            <div class="columns">
                <div class="column is-8">
                    <h2 class="ee-headline--large">{% trans 'Jak pracujemy' %}</h2>
                </div>
                <div class="column is-4 has-text-right">
                    <a href="{% url 'send_mail' %}" class="button is-light is-radiusless ee-button ee-contact-button">{% trans 'Wypróbuj nas' %}</a>
                </div>
            </div>
            {{ page.how_we_work }}
        </div>
    </section>

    <section class="ee-section ee-specialization-page__case-study" style="background-image: url({% webpack_static 'images/case-studies.jpg' %})">
        <div class="container">
            <div class="columns">
                <div class="column has-text-centered">
                    {% trans 'Case study' %}
                </div>
            </div>
            <div class="ee-spacer"></div>
            {{ page.case_study }}
        </div>
    </section>

    <section class="section">
        <div class="ee-section__title-container">
            <h2 class="ee-section__title">{% trans 'Tools' %}</h2>
        </div>
        <div class="container">
            {{ page.tools }}
            <div class="columns">
                <div class="column has-text-centered">
                    <a href="{% url 'send_mail' %}" class="button is-light is-radiusless ee-button ee-contact-button">{% trans 'Wypróbuj nas' %}</a>
                </div>
            </div>
        </div>
    </section>

    {% if page.projects %}
        <section class="section ee-section">
            <div class="ee-section__title-container">
                <h2 class="ee-section__title">{% trans 'Projects' %}</h2>
            </div>
            <div class="ee-masonry">
                {% for project in page.projects %}
                    {% include 'projects/partials/project_card.html' with project=project %}
                {% endfor %}
            </div>
        </section>
    {% endif %}

{% endblock content %}
