.ee-masonry {
    display: grid;
    grid-auto-flow: row dense;
    grid-auto-rows: 25vw;
    grid-template-columns: repeat(4, 25vw);
    max-width: 100vw;

    @include touch {
        grid-template-columns: repeat(2, 50vw);
    }
}

.ee-masonry__tile {
    align-items: flex-end;
    background-position: center center;
    background-size: cover;
    display: flex;

    padding: 2rem;
    position: relative;

    &::before {
        background-color: rgba(#000, 0.5);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        @include transition;
    }

    &:hover {
        @include shadow($size: xl);
        z-index: 90210;
        &::before {
            opacity: 0;
        }

        .ee-masonry__tile-title,
        .ee-masonry__tile-title--dark {
            opacity: 1;
        }
    }

    @include touch {
        padding: 0.5rem;
    }
}

.ee-masonry__tile--featured-x {
    grid-column-end: span 2;

    @include touch {
        grid-column-end: unset;
    }
}

.ee-masonry__tile--featured-y {
    grid-row-end: span 2;

    @include touch {
        grid-row-end: unset;
    }
}

.ee-masonry__tile--featured-mobile {
    @include touch {
        grid-column-end: span 2;
    }
}

.ee-masonry__tile-title {
    font-size: 2rem;
    opacity: 0;

    @include touch {
        font-size: 0.5rem;
    }
}

.ee-masonry__tile-title--dark {
    color: #000;
    font-size: 2rem;
    opacity: 0;

    @include touch {
        font-size: 0.5rem;
    }
}
