[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "*"
django-settings-context-processor = "*"
"psycopg2" = "*"
django-webpack-loader = "*"
Django = "==3.2.*"
gunicorn = "*"
whitenoise = "*"
wagtail = "==2.13.*"
wagtail-modeltranslation = "*"
sentry-sdk = "*"
django-storages = "*"
boto3 = "*"
django-bulma = "*"
django-recaptcha = "*"
django-inline-svg = "*"
simple-salesforce = "*"
wagtailmenus = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.9"
