[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "*"
django-webpack-loader = "==1.*"
django-settings-context-processor = "*"
"psycopg2" = "*"
Django = "==3.2.*"
gunicorn = "*"
whitenoise = "*"
wagtail = "==2.15.*"
# Pypi released version (0.10.17) doesn't support wagtail >= 2.14. So we are using dev version.
wagtail-modeltranslation = {file = "https://github.com/infoportugal/wagtail-modeltranslation/archive/c0c3788628b9d6c5bb3f6c3d06dbfd483c2b2a2a.zip"}
sentry-sdk = "*"
django-storages = "*"
boto3 = "*"
django-bulma = "*"
django-recaptcha = "*"
django-inline-svg = "*"
simple-salesforce = "*"
wagtailmenus = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.9"
