{% load i18n %}
{% load wagtailcore_tags %}
{% load webpack_static from webpack_loader %}

<nav class="navbar is-spaced ee-navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="columns is-vcentered is-marginless is-paddingless is-gapless">
            <div class="column is-marginless is-paddingless is-narrow">
                <a class="navbar-item" href="/">
                    <img src="{% webpack_static 'images/logoEE.svg' %}">
                </a>
            </div>
            {% if RELEASE_STRING %}
                <div class="column is-marginless is-paddingless">
                    <article class="message is-small" style="background: transparent;">
                        <div class="message-body is-invisible-touch">
                            To jest wersja <span class="tag is-warning ee-tag">{{ RELEASE_STRING }}</span> strony.
                            Ulepszamy ją iteracyjnie.
                        </div>
                    </article>
                </div>
            {% endif %}
        </div>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="ee-mobile-navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="ee-mobile-navbar" class="navbar-menu">
        <div class="navbar-start">
        </div>
        <div class="navbar-end ee-navbar-end">
            <button class="ee-navbar-close-button">
                <img src="{% webpack_static 'images/ico-x.svg' %}" alt="Close">
            </button>
            {% for page_in_menu in menus %}
                <a class="navbar-item is-uppercase is-radiusless ee-navbar-item" href="{% pageurl page_in_menu %}">
                    {{ page_in_menu.title }}
                </a>
            {% endfor %}

            <div class="navbar-item">
                <a class="button is-light is-uppercase is-radiusless ee-contact-us-button" data-toggle="contactForm">
                    {% trans 'Wypróbuj nas' %}
                </a>
            </div>
        </div>
    </div>
</nav>
