{% load webpack_static from webpack_loader %}

{# block RODO #}
<section class="section ee-rodo-block" style="background-image: url({% webpack_static 'images/rodo-1.png' %});">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-6 ee-rodo-block__content-container">
                <h2 class="ee-team-block__title">P.S.</h2>
                <h3 class="ee-team-block__headline">Jesteśmy zgodni z RODO</h3>
                <p class="ee-team-block__body">
                    Nasz regulamin został wygenerowany przez stworzone przez nas narzędzia. Chcesz sprawdzić, czy z
                    Twoją stroną internetową wszystko OK? Sprawdź na <a href="http://rodopass.pl"><strong>rodopass.pl</strong></a>
                </p>
                <div class="ee-team-block__buttons-container">
                    <a href="" class="button is-light is-outlined is-radiusless ee-button">Dowiedz się więcej</a>
                </div>
            </div>
        </div>
    </div>
</section>
