{% extends 'base.html' %}

{% load i18n %}
{% load main_tags %}
{% load wagtailcore_tags %}
{% load webpack_static from webpack_loader %}

{% block title %}
{{ page.title }} - {{ block.super }}
{% endblock title %}

{% block content %}
<section class="ee-hero ee-subpage-hero" style="background-image: url({% webpack_static 'images/career-1.jpg' %})">
    <div class="ee-hero__spacer"></div>
    <div class="ee-hero-body">
        <div class="container">
            <h1 class="ee-title--large">
                {{ page.title }}
            </h1>
        </div>
    </div>
</section>

<section class="section ee-section">
    <div class="ee-section-title">{% trans 'Aktualne oferty' %}</div>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="ee-tiles">
                    {% for offer in page.offers.all %}
                        {% include 'main/partials/job_offer_card.html' with offer=offer %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section ee-section">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <h2 class="ee-title--large">{% trans 'Współpraca' %}</h2>
                <p class="ee-body-text">
                    {{ page.cooperation }}
                </p>
            </div>
        </div>
    </div>
</section>

    <section class="section ee-section" style="background-image: url({% webpack_static 'images/career-2.jpg' %})">
        <div class="container">
            {{ page.recruitment }}
        </div>
    </section>

    <section class="section is-medium">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <p class="is-size-3">
                            {% trans 'Jesteś <b>zainteresowana ofertą?</b>' %}
                        </p>
                        <p class="is-size-3">
                            {% trans 'Want to change the world with us through <b>technology?</b>' %}
                        </p>
                    </div>
                </div>
                <div class="column">
                    <p class="subtitle is-uppercase has-text-weight-bold">
                        {% trans 'Aplikuj!' %}
                    </p>
                    <div class="ee-contact-form ee-contact-form--single">
                        {% recruitment_contact_form %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
