{% extends 'base.html' %}

{% load svg %}
{% load i18n %}
{% load main_tags %}
{% load wagtailcore_tags %}
{% load webpack_static from webpack_loader %}

{% block title %}
    {{ page.title }} - {{ block.super }}
{% endblock title %}

{% block content %}
    <section class="ee-hero ee-subpage-hero" style="background-image: url({% webpack_static 'images/job-1.jpg' %})">
        <div class="ee-hero__spacer"></div>
        <div class="ee-hero-body">
            <div class="container">
                <h1 class="ee-title--large">
                    {{ page.title }}
                </h1>
                <h2 class="ee-job-offer-page__salary">
                    <span class="salary">{{ page.salary }}</span> <span class="location">({{ page.employment_form }})</span>
                </h2>
            </div>
        </div>
    </section>

    <section class="section ee-section">
        <div class="container">
            <div class="columns">
                <div class="column is-1 is-offset-2">
                    <div class="ee-news-page__share-buttons">
                        <a class="ee-share-button">
                            {% svg 'facebook' %}
                        </a>
                        <a class="ee-share-button">
                            {% svg 'linkedin' %}
                        </a>
                    </div>
                </div>
                <div class="column is-8">
                    <div class="content">
                        {{ page.body | richtext }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section is-medium">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <p class="is-size-3">
                            {% trans 'Jesteś <b>zainteresowana ofertą?</b>' %}
                        </p>
                        <p class="is-size-3">
                            {% trans 'Want to change the world with us through <b>technology?</b>' %}
                        </p>
                    </div>
                </div>
                <div class="column">
                    <p class="subtitle is-uppercase has-text-weight-bold">
                        {% trans 'Aplikuj!' %}
                    </p>
                    <div class="ee-contact-form ee-contact-form--single">
                        {% recruitment_contact_form %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
