{% extends 'base_wagtail.html' %}

{% load main_tags %}
{% load i18n %}
{% load wagtailimages_tags %}

{% block facebook_pixel_events %}
    {{ block.super }}
    fbq('track', 'ViewContent');
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {% image page.header_background_image original as og_image %}
    <meta property="og:image" content="{{ og_image.url }}" />
{% endblock %}

{% block content %}
    <section class="ee-hero ee-subpage-hero ee-has-background-image">
        {% dynamic_fill_image page.header_background_image class='ee-background-image' %}
        <div class="ee-hero__spacer"></div>
        <div class="ee-hero-body">
            <div class="container">
                <h1 class="ee-title--large">
                    {{ page.title }}
                </h1>
                {% if page.header_subtitle %}
                    <h2 class="ee-project-page__headline">
                        {{ page.header_subtitle }}
                    </h2>
                {% endif %}
                {% if page.header_external_link %}
                    <div class="ee-spacer"></div>
                    <a href="{{ page.header_external_link }}" class="button is-light is-outlined is-radiusless ee-button">{% trans 'Odwiedź stronę' %}</a>
                {% endif %}
                {% if page.metrics.all %}
                    <div class="ee-spacer"></div>
                    <div class="ee-tiles">
                        {% for metric in page.metrics.all %}
                            <div class="ee-tile">
                                <div class="ee-tile__image">
                                    {% image_with_srcset metric.icon %}
                                </div>
                                <h2 class="ee-title--bold">
                                    {{ metric.value }}
                                </h2>
                                <h3 class="ee-title--small">
                                    {{ metric.property_name }}
                                </h3>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    {% bare_blocks page.content %}
{% endblock %}
