{% load bulma_tags %}
{% load i18n %}

<form enctype="multipart/form-data" method="post" action="{% url 'send_mail' %}" class="ee-contact-form-container">
    {% csrf_token %}
    <div class="ee-contact-form-header">
        Required <span class="is-danger">*</span>
    </div>
    <div class="ee-contact-form">
        <div class="ee-form-control">
            <input id="id_reply_to" name="reply_to" type="text" class="input">
            <label for="id_reply_to" class="required">{% trans 'email or phone number' %}</label>
        </div>
        <div class="ee-form-control">
            <div class="select">
                <select name="subject" id="id_subject">
                    <option value="">{% trans 'wybierz temat' %}</option>
                    <option value="offer">{% trans 'Offer' %}</option>
                    <option value="recruitment">{% trans 'Recruitment' %}</option>
                    <option value="other">{% trans 'Other' %}</option>
                </select>
            </div>
        </div>
        <div class="ee-form-control">
            <input id="id_recruitment_position" name="recruitment_position" type="text" class="input">
            <label for="id_recruitment_position">{% trans 'podaj stanowisko' %}</label>
        </div>
        <div class="ee-form-control">
            <input id="id_organization_name" name="organization_name" type="text" class="input">
            <label for="id_organization_name">{% trans 'nazwa firmy/organizacji' %}</label>
        </div>
        <div class="ee-form-control">
            <textarea name="message" id="id_message" class="textarea" rows="1"></textarea>
            <label for="id_message" class="required">{% trans 'how can we help you?' %}</label>
        </div>
        <div class="ee-form-control">
            <input id="id_attachment" name="attachment" type="file">
            <label for="id_attachment">{% trans 'załącz cv' %}</label>
        </div>
        {% include 'main/partials/checkbox.html' with field=form.terms_accepted %}
        {% include 'main/partials/checkbox.html' with field=form.recruitment_terms_accepted %}
        <div class="ee-form-control">
            {{ form.captcha }}
        </div>
    </div>
    <button type="submit" class="button is-outlined is-light is-uppercase is-radiusless ee-button ee-contact-form-button"
            style="margin-top: 2rem">
        {% trans 'Send' %}
    </button>
</form>
