{% load i18n %}
{% load layout %}
{% load webpack_static from webpack_loader %}

<nav class="navbar is-spaced ee-navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="columns is-vcentered is-marginless is-paddingless is-gapless">
            <div class="column is-marginless is-paddingless is-narrow">
                <a class="navbar-item" href="/">
                    <img src="{% webpack_static 'images/logoEE.svg' %}">
                </a>
            </div>
        </div>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="ee-mobile-navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="ee-mobile-navbar" class="navbar-menu">
        <div class="navbar-start">
        </div>
        <div class="navbar-end ee-navbar-end">
            <button class="ee-navbar-close-button">
                <img src="{% webpack_static 'images/ico-x.svg' %}" alt="Close">
            </button>
            {% for menu_item in menu_items %}
                <a class="navbar-item is-uppercase is-radiusless ee-navbar-item" href="{{ menu_item.href }}">
                    {{ menu_item.text }}
                </a>
            {% endfor %}

            <div class="navbar-item">
                <a href="{% url 'send_mail' %}" class="button is-light is-uppercase is-radiusless ee-contact-us-button ee-contact-button">
                    {% trans 'Napisz do nas' %}
                </a>
            </div>

            <div class="navbar-item navbar-language-selector">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <form action="{% url 'set_language' %}" method="post" class="language">
                  {% csrf_token %}
                  <input name="next" type="hidden" value="{% translate_current_url language.code %}">
                  <input name="language" type="hidden" value="{{ language.code }}">
                  <button
                    type="submit"
                    class="navbar-item button is-uppercase is-radiusless {% if language.code == LANGUAGE_CODE %}active{% endif %}"
                  >
                    {{ language.code }}
                  </button>
                </form>
              {% endfor %}
            </div>
        </div>
    </div>
</nav>
