{% load i18n %}
{% load webpack_static from webpack_loader %}

<nav class="navbar is-spaced ee-navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="columns is-vcentered is-marginless is-paddingless is-gapless">
            <div class="column is-marginless is-paddingless is-narrow">
                <a class="navbar-item" href="/">
                    <img src="{% webpack_static 'images/logoEE.svg' %}">
                </a>
            </div>
        </div>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="ee-mobile-navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="ee-mobile-navbar" class="navbar-menu">
        <div class="navbar-start">
        </div>
        <div class="navbar-end ee-navbar-end">
            <button class="ee-navbar-close-button">
                <img src="{% webpack_static 'images/ico-x.svg' %}" alt="Close">
            </button>
            {% for menu_item in menu_items %}
                <a class="navbar-item is-uppercase is-radiusless ee-navbar-item" href="{{ menu_item.href }}">
                    {{ menu_item.text }}
                </a>
            {% endfor %}

            <div class="navbar-item">
                <a href="{% url 'send_mail' %}" class="button is-light is-uppercase is-radiusless ee-contact-us-button ee-contact-button">
                    {% trans 'Napisz do nas' %}
                </a>
            </div>
        </div>
    </div>
</nav>
