{% load render_bundle from webpack_loader %}
{% load static %}
{% load wagtailcore_tags %}

<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{% block meta_description %}{% endblock %}"/>
  <title>{% block title %}laboratorium-ee-2019{% endblock title %}</title>
  {% if GOOGLE_ANALYTICS_ID %}
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ GOOGLE_ANALYTICS_ID }}', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
  {% endif %}
  {% render_bundle "vendor" "css" %}
  {% render_bundle "main" "css" %}

  <script type="text/plain" id="DSN_PUBLIC">{{ DSN_PUBLIC|default:"" }}</script>
  {% block extrahead %}
  {% endblock extrahead %}
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                {% for page_in_menu in menus %}
                    <a class="navbar-item" href="{% pageurl page_in_menu %}">
                        {{ page_in_menu.title }}
                    </a>
                {% endfor %}

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        {% trans 'More' %}
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            {% trans 'About' %}
                        </a>
                        <a class="navbar-item">
                            {% trans 'Jobs' %}
                        </a>
                        <a class="navbar-item">
                            {% trans 'Contact' %}
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            {% trans 'Report an issue' %}
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
  {% block content %}
  {% endblock content %}

  {% render_bundle "vendor" "js" %}
  {% render_bundle "main" "js" %}
</body>

</html>
