{% load i18n %}

<form enctype="multipart/form-data" method="post" action="{% url 'send_mail' %}">
    {% csrf_token %}
    <div class="columns">
        <div class="column">
            {% blocktrans trimmed %}
            Need some help with your <b>project?</b><br>
            Looking for interesting <b>investments?</b><br>
            Want to change the world with us through <b>technology?</b><br>
            {% endblocktrans %}
        </div>
        <div class="column">
            {{ form.as_p }}
            <div>
                <button type="submit">{% trans 'send' %}</button>
            </div>
        </div>
    </div>
</form>
