@import "~bulma/sass/utilities/initial-variables";
@import "~bulmaswatch/cyborg/variables";

@import "colors";
@import "constants";
@import "fonts";

@import "~bulma/bulma";
@import "~bulmaswatch/cyborg/overrides";

.card.is-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
};

.card.is-equal-height .card-footer {
    margin-top: auto;
};

.is-top-padded {
    padding-top: 4rem;
};

.has-colors-inverted {
    filter: invert(100%);
};
