{% extends 'base.html' %}

{% load svg %}
{% load i18n %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load main_tags %}
{% load webpack_static from webpack_loader %}

{% block navbar %}
    {# navbar is displayed in hero-head #}
    {% navbar %}
{% endblock %}

{% block content %}

    {% image page.background_image max-2560x2048 as background_image %}
    <section class="ee-hero ee-subpage-hero" style="background-image: url('{{ background_image.url }}')">
        <div class="ee-hero__spacer"></div>
        <div class="ee-hero-body">
            <div class="container">
                <h1 class="ee-title--large">
                    {{ page.title }}
                </h1>
                <h2 class="ee-title">
                    {{ page.subtitle }}
                </h2>
                {% if page.project_url %}
                    <a href="{{ page.project_url }}" class="button is-light is-outlined is-radiusless ee-button">{% trans 'Odwiedź stronę' %}</a>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="section ee-section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="ee-tiles">
                        {% for metric in page.metrics.all %}
                        <div class="ee-tile">
                            <h2 class="ee-title--bold">
                                {{ metric.value }}
                            </h2>
                            <h3 class="ee-title--small">
                                {{ metric.property_name }}
                            </h3>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section ee-section">
        <div class="container">
            <div class="columns">
                <div class="column is-8">
                    <div class="ee-title--large">{% trans 'Challenges' %}</div>
                    <p class="ee-body-text">
                        {{ page.challenge | richtext }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="ee-section ee-specialization-page__case-study" style="background-image: url({% webpack_static 'images/case-studies.jpg' %})">
        <div class="container">
            <div class="columns">
                <div class="column has-text-centered">
                    {% trans 'Process' %}
                </div>
            </div>
        </div>
        <div class="ee-spacer--large"></div>
        <div class="container">
            {{ page.process }}
        </div>
    </section>

    <section class="section ee-section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    {% svg 'quote' %}
                    <div class="ee-cite">
                        {{ page.quote | richtext }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section ee-section">
        <div class="ee-section__title-container">
            <h2 class="ee-section__title">{% trans "Similiar projects" %}</h2>
        </div>
        <div class="ee-masonry">
            <div class="ee-masonry__tile" style="background-image: url({% webpack_static 'images/project-1.jpg' %})">
                <span class="ee-masonry__tile-title">RODO PASS</span>
            </div>
            <div class="ee-masonry__tile ee-masonry__tile--featured-x" style="background-image: url({% webpack_static 'images/project-2.jpg' %})">
                <span class="ee-masonry__tile-title">PayU</span>
            </div>
            <div class="ee-masonry__tile ee-masonry__tile--featured-x" style="background-image: url({% webpack_static 'images/project-3.jpg' %})">
                <span class="ee-masonry__tile-title--dark">SONAR</span>
            </div>
            <div class="ee-masonry__tile" style="background-image: url({% webpack_static 'images/project-4.jpg' %})">
                <span class="ee-masonry__tile-title">POLANA</span>
            </div>
            <div class="ee-masonry__tile ee-masonry__tile--featured-y" style="background-image: url({% webpack_static 'images/project-5.jpg' %})">
                <span class="ee-masonry__tile-title">HACKATHON</span>
            </div>
        </div>
    </section>

{# Podobne projekty #}
{% if page.similar_projects.all %}
    <section class="section is-medium">
        <div class="container">
            <h2 class="subtitle is-section-title">{% trans "Similiar projects" %}</h2>
            <div class="columns is-multiline">
                {% for project in page.similar_projects.all %}
                    <div class="column is-one-third">
                        {% include 'projects/partials/project_card.html' with project=project %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

{% endblock content %}
