{% extends 'base.html' %}

{% load i18n %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load main_tags %}


{% block content %}
    <a href={% pageurl page.get_parent %}>do góry</a>

    <h1>{{ page.title }}</h1>
    <p>{% image page.icon width-500 %}</p>
    <p>{{ page.subtitle }}</p>

    <ul>
        {% for metric in page.metrics.all %}
            <li>
                <strong>{{ metric.value }}</strong> {{ metric.property_name }}
            </li>
        {% endfor %}
    </ul>
    
    <h2>{% trans 'Challenges' %}</h2>
    <div>
        <p>
            {{ page.challenge|richtext }}
        </p>
    </div>
    <hr>

{#   Proces #}
    <h2>{% trans 'Process' %}</h2>
    <div>
        {% for tile in page.process %}
            <div>{{ tile }}</div>
        {% endfor %}
    </div>
    <hr>

{#    Cytat #}
    <div>
        {{ page.quote|richtext }}
    </div>
    <hr>

{#   Formularz Kontaktowy #}
    <div class="contact_form columns">
        <div class="column">
            {% blocktrans trimmed %}
            You like this <b>project?</b><br>
            Have a similar <b>idea?</b><br>
            Looking for some <b>tech support?</b><br>
            {% endblocktrans %}
        </div>
        <div class="column">
           {% contact_form False %}
        </div>
      </div>
    <hr>

{#   Podobne projekty#}
    <h2>{% trans "Similiar projects" %}</h2>
    <div class="columns">
        {% for project in page.similar_projects.all %}
            <div class="column">
                {% include 'projects/project_tile.html' with project=project %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block contact_form %}
{#    formualrz kontaktowy tu wyjątkowo jest wyżej, więc ten block zostawiam pusty#}
{% endblock %}
