{% extends 'base.html' %}

{% load i18n %}
{% load main_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block title %}
{{ page.title }} - {{ block.super }}
{% endblock title %}

{% block facebook_pixel_events %}
    {{ block.super }}
    fbq('track', 'ViewContent');
{% endblock %}

{% block navbar %}
    {# navbar is displayed in hero-head #}
{% endblock %}

{% block content %}
    {% image page.background_image max-2560x2048 as background_image %}
    <section class="hero" style="background: url('{{ background_image.url }}') center center; background-size: cover;">
        <div class="hero-head">
            {% navbar %}
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">
                    {{ page.title }}
                </h1>
            </div>
        </div>
    </section>

    <div class="columns is-centered">
        <div class="column is-half">

            <section class="section is-medium">
                <div class="container">
                    <p class="subtitle is-section-title">{% trans 'Jak pracujemy' %}</p>
                    <div class="content">
                        {% for block in page.how_we_work %}
                            {{ block }}
                        {% endfor %}
                    </div>
                </div>
            </section>

            <section class="section is-medium">
                <div class="container">
                    <p class="subtitle is-section-title">{% trans 'Case study' %}</p>
                    <div class="content">
                        {% for block in page.case_study %}
                            {{ block }}
                        {% endfor %}
                    <div class="content">
                </div>
            </section>

            <section class="section is-medium">
                <div class="container">
                    <p class="subtitle is-section-title">{% trans 'Narzędzia' %}</p>
                    <div class="content">
                        {% for block in page.tools %}
                            {{ block }}
                        {% endfor %}
                    <div class="content">
                </div>
            </section>

        </div>
    </div>

    {% if page.projects.all %}
        <section class="section is-medium">
            <div class="container">
                <h2 class="subtitle is-section-title">{% trans 'Projects' %}</h2>
                <div class="columns is-multiline">
                    {% for project in page.projects.all %}
                        <div class="column is-one-third">
                            {% include 'projects/partials/project_card.html' with project=project %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

{% endblock content %}
