{% extends 'base.html' %}

{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load webpack_static from webpack_loader %}


{% block content %}
<section class="ee-hero ee-subpage-hero" style="background-image: url({% webpack_static 'images/about-us.jpg' %})">
    <div class="ee-hero__spacer"></div>
    <div class="ee-hero-body">
        <div class="container">
            <h1 class="ee-title--large">
                {{ page.title }}
            </h1>
        </div>
    </div>
</section>

<section class="section ee-section">
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                {{ page.who_we_are | richtext }}
            </div>
        </div>
    </div>
</section>

<section class="section ee-section">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <h2 class="ee-title--large">
                    {% trans 'Our values' %}
                </h2>
                <p class="ee-body-text">
                    Jesteśmy Prywatnym Centrum Badawczo-Rozwojowym. Myślimy kodem, tworzymy sercem. Naszą misją jest zmiana świata na lepsze za pomocą technologii.
                    Tworzymy usługi i produkty, które odpowiadają na ważne tematy, takie jak: walka ze smogiem, wsparcie seniorów, rewolucja cyfrowa.
                    Podstawą w naszej pracy jest zaufanie i podejmowanie rozsądnego ryzyka. Celem wszystkich naszych działań jest wywołanie pozytywnego wpływu na społeczeństwo oraz efektywne i oszczędne wydawanie środków na IT.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section ee-section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="ee-tiles">
                    <div class="ee-tile">
                        <div class="ee-tile__image has-text-centered">
                            <img src="{% webpack_static 'images/how-we-work-1.svg' %}" alt="">
                        </div>
                        <div class="ee-spacer"></div>
                        <h3 class="ee-title--small is-uppercase has-text-centered">
                            Koncepcje produktów cyfrowych
                        </h3>
                    </div>
                    <div class="ee-tile">
                        <div class="ee-tile__image has-text-centered">
                            <img src="{% webpack_static 'images/how-we-work-2.svg' %}" alt="">
                        </div>
                        <div class="ee-spacer"></div>
                        <h3 class="ee-title--small is-uppercase has-text-centered">
                            Interaktywne prototypy
                        </h3>
                    </div>
                    <div class="ee-tile">
                        <div class="ee-tile__image has-text-centered">
                            <img src="{% webpack_static 'images/how-we-work-3.svg' %}" alt="">
                        </div>
                        <div class="ee-spacer"></div>
                        <h3 class="ee-title--small is-uppercase has-text-centered">
                            Usługi online i offline
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section ee-section">
    <div class="ee-section-title">{% trans 'Team' %}</div>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="ee-section-tiles">
                    <div class="ee-tile ee-article-card">
                        <div class="ee-article-card__image" style="background-image: url('{% webpack_static 'images/team-1.jpg' %}')">
                            <div class="ee-title">
                                Imię Nazwisko
                            </div>
                            <div class="ee-article-card__date">
                                Specjalizacja UX
                            </div>
                        </div>
                        <div class="ee-article-card__headline">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae tortor condimentum tellus maximus porttitor.
                        </div>
                    </div>
                    <div class="ee-tile ee-article-card">
                        <div class="ee-article-card__image" style="background-image: url('{% webpack_static 'images/team-1.jpg' %}')">
                            <div class="ee-title">
                                Imię Nazwisko
                            </div>
                            <div class="ee-article-card__date">
                                Specjalizacja UX
                            </div>
                        </div>
                        <div class="ee-article-card__headline">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae tortor condimentum tellus maximus porttitor.
                        </div>
                    </div>
                    <div class="ee-tile ee-article-card">
                        <div class="ee-article-card__image" style="background-image: url('{% webpack_static 'images/team-1.jpg' %}')">
                            <div class="ee-title">
                                Imię Nazwisko
                            </div>
                            <div class="ee-article-card__date">
                                Specjalizacja UX
                            </div>
                        </div>
                        <div class="ee-article-card__headline">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae tortor condimentum tellus maximus porttitor.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
