{% extends 'base.html' %}

{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block content %}

    <h1>{{ page.title }}</h1>
    <div>
        {% trans 'Who we are?' %}
    </div>
    <div>
        {{ page.who_we_are|richtext }}
    </div>
    <hr>

    <div>
        {{ page.our_values }}
    </div>
    <hr>

    <div>
        {% trans 'Team' %}
    {% for member in page.team_members.all %}
        <div>
            <p>{{ member.name }}</p>
            <p>{% image member.photo width-150 %}</p>
            <p>{{ member.description }}</p>
        </div>
    {% endfor %}

    </div>
{% endblock content %}
