{# Base template for all wagtail pages. #}

{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block title %}
    {{ page.seo_title }}
{% endblock %}

{% block meta_description %}
    {{ page.search_description }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <meta property="og:title" content="{{ page.seo_title }}" />
    <meta property="og:description" content="{{ page.search_description }}" />
    {% wagtail_site as site %}
    <meta property="og:site_name" content="{{ site.site_name }}" />
{% endblock %}
