// sass-lint:disable no-duplicate-properties

@font-face {
    font-family: "Noyh";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/313AC8_1D_0.eot");
    src: url("../fonts/313AC8_1D_0.eot?#iefix") format("embedded-opentype"), url("../fonts/313AC8_1D_0.woff2") format("woff2"), url("../fonts/313AC8_1D_0.woff") format("woff"), url("../fonts/313AC8_1D_0.ttf") format("truetype");
}

@font-face {
    font-family: "Noyh";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/313AC7_0_0.eot");
    src: url("../fonts/313AC7_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/313AC7_0_0.woff2") format("woff2"), url("../fonts/313AC7_0_0.woff") format("woff"), url("../fonts/313AC7_0_0.ttf") format("truetype");
}

@font-face {
    font-family: "Noyh";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/313AC8_1F_0.eot");
    src: url("../fonts/313AC8_1F_0.eot?#iefix") format("embedded-opentype"), url("../fonts/313AC8_1F_0.woff2") format("woff2"), url("../fonts/313AC8_1F_0.woff") format("woff"), url("../fonts/313AC8_1F_0.ttf") format("truetype");
}

@font-face {
    font-family: "Noyh";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/313AC7_1_0.eot");
    src: url("../fonts/313AC7_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/313AC7_1_0.woff2") format("woff2"), url("../fonts/313AC7_1_0.woff") format("woff"), url("../fonts/313AC7_1_0.ttf") format("truetype");
}
