@font-face {
    font-family: 'Noyh';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/313AC8_1D_0.eot');
    src: url('../fonts/313AC8_1D_0.eot?#iefix') format('embedded-opentype'), url('../fonts/313AC8_1D_0.woff2') format('woff2'), url('../fonts/313AC8_1D_0.woff') format('woff'), url('../fonts/313AC8_1D_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Noyh';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/313AC7_0_0.eot');
    src: url('../fonts/313AC7_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/313AC7_0_0.woff2') format('woff2'), url('../fonts/313AC7_0_0.woff') format('woff'), url('../fonts/313AC7_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Noyh';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/313AC8_1F_0.eot');
    src: url('../fonts/313AC8_1F_0.eot?#iefix') format('embedded-opentype'), url('../fonts/313AC8_1F_0.woff2') format('woff2'), url('../fonts/313AC8_1F_0.woff') format('woff'), url('../fonts/313AC8_1F_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Noyh';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/313AC7_1_0.eot');
    src: url('../fonts/313AC7_1_0.eot?#iefix') format('embedded-opentype'), url('../fonts/313AC7_1_0.woff2') format('woff2'), url('../fonts/313AC7_1_0.woff') format('woff'), url('../fonts/313AC7_1_0.ttf') format('truetype');
}
