{% load i18n %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% image project.background_image max-2560x2048 as background_image %}
<div class="ee-initiatives-card is-slide" style="background-image: url({{ background_image.url }});">
    <div class="ee-initiatives-card__content">
        <h2 class="ee-initiatives-card__title">{{ project.title }}</h2>
        <div class="ee-initiatives-card__headline">
            {{ project.subtitle }}
        </div>
        <div class="ee-initiatives-card__buttons">
            <a href="{% pageurl project %}" class="button is-light is-radiusless ee-button">
                {% trans 'Find out more' %}
            </a>
            {% if project.project_url %}
                <a href="{{ project.project_url }}" class="button is-light is-outlined is-radiusless ee-button">
                    {% trans 'Sprawdź' %}
                </a>
            {% endif %}
        </div>
    </div>
</div>
