{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% image specialization_page.background_image max-2560x2048 as background_image %}
<div onclick="javascript:window.location.href='{% pageurl specialization_page %}'; return false;" class="ee-specialization-card is-slide" style="background-image: url('{{ background_image.url }}');">
    <div class="ee-specialization-card__content">
        <h2 class="ee-specialization-card__title">{{ specialization_page.title }}</h2>
        <div class="ee-specialization-card__headline">
            {{ specialization_page.short_description | richtext }}
        </div>
        <div class="ee-specialization-card__buttons">
            <a href="{% pageurl specialization_page %}" class="button is-light is-radiusless ee-button">
                {% trans 'Find out more' %}
            </a>
        </div>
    </div>
</div>
