.ee-masonry {
    display: grid;
    grid-auto-flow: column;
    max-width: 100vw;
    grid-template-columns: repeat(5, 25vw);
    grid-auto-rows: 25vw;
}

.ee-masonry__tile {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 2rem;

    background-size: cover;
    background-position: center center;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(black, 0.5);
        @include transition();
    }

    &:hover {
        @include shadow($size: xl);
        z-index: 90210;
        &::before {
            opacity: 0;
        }

        .ee-masonry__tile-title, .ee-masonry__tile-title--dark {
            opacity: 1;
        }
    }
}

.ee-masonry__tile--featured-x {
    grid-column-end: span 2;
}
.ee-masonry__tile--featured-y {
    grid-row-end: span 2;
}

.ee-masonry__tile-title {
    opacity: 0;
    font-size: 2rem;
}

.ee-masonry__tile-title--dark {
    opacity: 0;
    font-size: 2rem;
    color: black;
}
