{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


<div class="card">
    <div class="card-image">
        <figure class="image is-3by1">
            {% image article.photo fill-1200x400 %}
        </figure>
    </div>
    <div class="card-content">
        <h4 class="title is-4">{{ article.title }}</h4>

        <div class="content">
            {{ article.headline }}
            <br/>
            <a href="{% pageurl article %}">{% trans 'Find out more' %} ></a>
            <time datetime="2016-1-1">{{ article.publication_date }}</time>
        </div>
    </div>
</div>

