{% extends 'base.html' %}

{% load svg %}
{% load i18n %}
{% load main_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load webpack_static from webpack_loader %}

{% block facebook_pixel_events %}
    {{ block.super }}
    fbq('track', 'ViewContent');
{% endblock %}

{% block navbar %}
    {# navbar is displayed in hero-head #}
    {% navbar %}
{% endblock %}

{% block content %}

<section class="ee-hero-carousel">
    <div class="ee-hero-carousel__fixed-header">
        <div class="container">
            Poznaj nas <strong>przez nasze historie</strong>
        </div>
    </div>
    <div class="ee-hero-carousel__controls">
        <div class="container ee-hero-carousel__controls-container">

        </div>
    </div>
    <div class="ee-hero-carousel__container">
        {% for article in page.latest_articles %}
        {% image article.photo max-2560x2048 as background_image %}
        <div class="ee-hero-carousel__content" style="background-image: url('{{ background_image.url }}')">
            <div class="container ee-hero-carousel__content-container">
                {% if article.specialization %}
                <a class="ee-hero-carousel__content-tags" href="{% pageurl article.specialization %}">
                    #{{ article.specialization.title}}
                </a>
                {% endif %}
                <div class="ee-hero-carousel__content-title">
                    {{ article.title }}
                </div>
                <div class="ee-hero-carousel__content-subtitle">
                    {{ article.headline }}
                </div>
                <div class="ee-hero-carousel__content-buttons">
                    <a href="" class="button is-light is-radiusless ee-button">{% trans 'Check us out' %}</a>
                    <a href="{% pageurl article %}" class="button is-outlined is-light is-radiusless ee-button">
                        {% trans 'Find out more' %}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{# block Specializations #}
<section class="ee-section">
    <div class="ee-section__title-container">
        <h2 class="ee-section__title">{{ page.specializations_headline }}</h2>
    </div>
    <div class="ee-section__triptych">
        {% for specialization_page in page.specializations.all %}
            {% include 'projects/partials/specialization_card.html' with specialization_page=specialization_page %}
        {% endfor %}
    </div>
</section>

{# blok Your private R&D #}
<div class="section ee-rd-block" style="background-image: url({% webpack_static 'images/twoje-prywatne-centrum-badawcze.jpg' %})" alt="Close">
    <div class="container has-text-right">
        <div class="columns">
            <div class="column is-half is-offset-6">
                <h2 class="ee-rd-block__title">Twoje prywatne centrum badawczo-rozwojowe</h2>
                <h3 class="ee-rd-block__subtitle">Skupiamy się na dokładnej analizie stawianych przed nami wyzwań. Tworzymy rozwiązania szyte na miarę,
                    innowacyjne, które stale udoskonalamy i rozbodowujemy.</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns ee-rd-block__items">
            <div class="column">
                <h4 class="ee-rd-block__item-title">2019</h4>
                <p class="ee-rd-block__item-subtitle">
                    To właśnie w tym roku otrzymaliśmy tytuł prywatnego centrum badawczo-rozwojowego.
                </p>
            </div>
            <div class="column">
                <h4 class="ee-rd-block__item-title">20%</h4>
                <p class="ee-rd-block__item-subtitle">
                    Tyle podatku możesz odliczyć pracując z nami
                </p>
            </div>
            <div class="column">
                <h4 class="ee-rd-block__item-title">R&D</h4>
                <p class="ee-rd-block__item-subtitle">
                    Prężnie działamy w obszarze Research & Development
                </p>
            </div>
        </div>
    </div>
</div>

{# block Topics #}
<section class="section ee-topics-block" style="background-image: url({% webpack_static 'images/topics-1.png' %})">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third ee-topics-block__content">
                <h3 class="ee-topics-block__title">Działamy w tematach</h3>
                <div class="ee-topics-block__buttons">
                    <a class="button is-light is-outlined is-radiusless ee-button" data-target="ee-topics-1">Ochrona środowiska</a>
                    <a class="button is-light is-outlined is-radiusless ee-button" data-target="ee-topics-2">Seniorzy</a>
                    <a class="button is-light is-outlined is-radiusless ee-button" data-target="ee-topics-3">Media</a>
                    <a class="button is-light is-outlined is-radiusless ee-button" data-target="ee-topics-4">Prawo</a>
                </div>
            </div>
            <div class="column ee-topics-block__image-container">
                <img src="{% webpack_static 'images/topics-target-1.png' %}" alt="" id="ee-topics-1" class="ee-topics-block__image active">
                <img src="{% webpack_static 'images/topics-target-2.png' %}" alt="" id="ee-topics-2" class="ee-topics-block__image">
                <img src="{% webpack_static 'images/topics-target-3.png' %}" alt="" id="ee-topics-3" class="ee-topics-block__image">
                <img src="{% webpack_static 'images/topics-target-4.png' %}" alt="" id="ee-topics-4" class="ee-topics-block__image">
            </div>
        </div>
    </div>
</section>

{# block Solutions #}
<section class="ee-solutions-block">
    <div class="ee-solutions-block__title-container">
        <h2 class="ee-solutions-block__title">
            {% trans 'Jak powstają nasze rozwiązania?' %}
        </h2>
    </div>
    <div class="container">
        <div class="ee-solutions-block__items-container">
            <div class="ee-solutions-block__item">
                <div class="ee-solutions-block__item-icon">
                    {% svg 'ico-lupka' %}
                </div>
                <h3 class="ee-solutions-block__item-title">
                    Analiza potrzeb
                </h3>
            </div>
            <div class="ee-solutions-block__item-spacer"></div>
            <div class="ee-solutions-block__item">
                <div class="ee-solutions-block__item-icon">
                    {% svg 'ico-post-it' %}
                </div>
                <h3 class="ee-solutions-block__item-title">
                    Warsztaty partycypacyjne i Google Design Sprint
                </h3>
            </div>
            <div class="ee-solutions-block__item-spacer"></div>
            <div class="ee-solutions-block__item">
                <div class="ee-solutions-block__item-icon">
                    {% svg 'ico-proto' %}
                </div>
                <h3 class="ee-solutions-block__item-title">
                    Prototyp i Minimum Viable Product
                </h3>
            </div>
            <div class="ee-solutions-block__item-spacer"></div>
            <div class="ee-solutions-block__item">
                <div class="ee-solutions-block__item-icon">
                    {% svg 'ico-agile' %}
                </div>
                <h3 class="ee-solutions-block__item-title">
                    Wdrażanie Zwinne
                </h3>
            </div>
        </div>
    </div>
</section>

{# block Join the Team #}
<section class="ee-join-us-block" style="background: url({% webpack_static 'images/join-the-team.png' %})">
    <div class="container">
        <div class="columns">
            <div class="column is-half ee-join-us-block__content-container">
                <div class="ee-join-us-block__content">
                <h2 class="ee-join-us-block__content-title">{{ page.join_us_headline }}</h2>
                <p class="ee-join-us-block__content-body">{{ page.join_us_body }}</p>
                </div>
                <div class="ee-join-us-block__buttons">
                    <a href="" class="button is-light is-radiusless ee-button">
                        Sprawdź aktualne oferty
                    </a>
                    <a href="" class="button is-outlined is-light is-radiusless ee-button">
                        Skontaktuj się z nami
                    </a>
                </div>
            </div>
            <div class="column ee-join-us-block__items-container">
                <div class="ee-join-us-block__item">
                    <div class="ee-join-us-block__item-icon">
                        {% svg 'join-us-icon-1' %}
                    </div>
                    <div class="ee-join-us-block__item-title">Stawiamy na rozwiązania</div>
                </div>
                <div class="ee-join-us-block__item">
                    <div class="ee-join-us-block__item-icon">
                        {% svg 'join-us-icon-2' %}
                    </div>
                    <div class="ee-join-us-block__item-title">Pobudzamy kreatywność</div>
                </div>
                <div class="ee-join-us-block__item">
                    <div class="ee-join-us-block__item-icon">
                        {% svg 'join-us-icon-3' %}
                    </div>
                    <div class="ee-join-us-block__item-title">Nie boimy się myśleć samodzielnie</div>
                </div>
            </div>
        </div>
    </div>
</section>

    {# block Initiatives #}
    <section class="ee-section">
        <div class="ee-section__title-container">
            <h2 class="ee-section__title">{% trans 'Our initiatives' %}</h2>
        </div>
        <div class="ee-section__triptych">
            {% for inititive in page.our_initiatives.all %}
                {% include 'projects/partials/project_card_initiative.html' with project=inititive %}
            {% endfor %}
        </div>
    </section>

    {# block Cooperation #}
    <section class="ee-section">
        <div class="ee-section__title-container">
            <h2 class="ee-section__title">{% trans 'We have worked with' %}</h2>
        </div>
        <div class="container ee-coop-block__logo-container">
            {% for logo in page.cooperators_logos.all %}
                {% image logo.image original %}
            {% endfor %}
        </div>
    </section>

    {# block Team #}
    {% with page.random_team_member as member %}
        {% if member %}
            {% image member.photo max-2560x2048 as team_background %}
            <section class="section ee-team-block" style="background-image: url({{ team_background.url }});">
                <div class="container">
                    <div class="columns">
                        <div class="column is-one-third">
                            <h2 class="ee-team-block__title">{% trans 'Team' %}</h2>
                            <h3 class="ee-team-block__headline">{{ member.name }}</h3>
                            <p class="ee-team-block__body">
                                {{ member.long_description }}
                            </p>
                            <div class="ee-team-block__buttons-container">
                                <a href="" class="button is-light is-radiusless ee-button">{% trans 'Poznaj nas' %}</a>
                                <a href="" class="button is-light is-outlined is-radiusless ee-button">{% trans 'Join us' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endwith %}

{% endblock content %}
