{% extends 'base.html' %}

{% load i18n %}
{% load main_tags %}
{% load wagtailcore_tags %}

{% block title %}
    {{ page.title }} - {{ block.super }}
{% endblock title %}

{% block content %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <p class="title">
                    {{ page.title }}
                </p>
                <p class="subtitle">
                    {{ page.salary }} ({{ page.employment_form }})
                </p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="content">
                        {{ page.body|richtext }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block contact_form %}
    <section class="section is-medium" id="contact">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <p class="is-size-3">
                            {% trans 'Jesteś <b>zainteresowana ofertą?</b>' %}
                        </p>
                        <p class="is-size-3">
                            {% trans 'Want to change the world with us through <b>technology?</b>' %}
                        </p>
                    </div>
                </div>
                <div class="column">
                    <p class="subtitle is-uppercase has-text-weight-bold">
                        {% trans 'Aplikuj!' %}
                    </p>
                    {% recruitment_contact_form %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
