{% extends 'base.html' %}

{% load i18n %}
{% load wagtailcore_tags %}

{% block title %}
    {{ page.title }} - {{ block.super }}
{% endblock title %}

{% block content %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <p class="title">
                    {{ page.title }}
                </p>
            </div>
        </div>
    </section>

    <section class="section is-medium">
        <div class="container">
            <p class="subtitle is-section-title">{% trans "Współpraca" %}</p>
            <div class="content">
                {{ page.cooperation }}
            </div>
        </div>
    </section>

    {% if page.offers.all %}
        <section class="section is-medium">
            <div class="container">
                <p class="subtitle is-section-title">{% trans "Aktualne oferty" %}</p>
                <div class="columns is-multiline">
                    {% for offer in page.offers.all %}
                        <div class="column is-one-third">
                            {% include 'main/partials/job_offer_card.html' with offer=offer %}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}

    <section class="section is-medium">
        <div class="container">
            <p class="subtitle is-section-title">{% trans "Rekrutacja" %}</p>
            <div class="content">
                {% for block in page.recruitment %}
                    {{ block }}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}
