{% extends 'base.html' %}

{% load i18n %}
{% load main_tags %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block title %}
{{ page.title }} - {{ block.super }}
{% endblock title %}

{% block facebook_pixel_events %}
    {{ block.super }}
    fbq('track', 'ViewContent');
{% endblock %}

{% block navbar %}
    {# navbar is displayed in hero-head #}
{% endblock %}

{% block content %}

{% image page.photo original as hero_background %}
<section class="hero" style="background: url('{{ hero_background.url }}') center center; background-size: cover;">
    <div class="hero-head">
        {% navbar %}
    </div>
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-2">
                {{ page.title }}
            </h1>
        </div>
    </div>
    <div class="hero-foot">
        <div class="container">
            <time>
                {{ page.publication_date }}
            </time>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="subtitle is-3">{{ page.headline }}</h2>
        <div class="content">
            {{ page.body|richtext }}
        </div>
    </div>
</section>
{% endblock content %}
