{% extends 'base.html' %}

{% load i18n %}
{% load main_tags %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block title %}
    {{ page.title }} - {{ block.super }}
{% endblock title %}

{% block facebook_pixel_events %}
    {{ block.super }}
    fbq('track', 'ViewContent');
{% endblock %}

{% block content %}

{% image page.photo max-2560x2048 as hero_background %}
<section class="ee-hero ee-subpage-hero" style="background-image: url('{{ hero_background.url }}')">
    <div class="ee-hero__spacer"></div>
    <div class="ee-hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8 is-offset-2 is-12-touch is-offset-0-touch">
                    <time class="ee-hero__date">
                        {{ page.publication_date | date:"d.m.Y" }}
                    </time>
                    <div class="ee-spacer"></div>
                    <h1 class="ee-title--large">
                        {{ page.title }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ee-section">
    <div class="container">
        <div class="columns">
            <div class="column is-1 is-offset-2">
                <div class="ee-news-page__share-buttons">
                    {% share_buttons %}
                </div>
            </div>
            <div class="column is-6 is-12-touch">
                <h2 class="ee-headline--light">{{ page.headline }}</h2>
                <div class="content">
                    {{ page.body | richtext }}
                </div>
            </div>
        </div>
        {% if page.cta_question %}
            <div class="ee-spacer"></div>
            <div class="columns">
                <div class="column is-6 is-12-touch is-offset-3">
                    {{ page.cta_question }}
                    <div class="ee-spacer"></div>
                    <div class="has-text-centered">
                        <button class="button is-light is-outlined is-radiusless ee-button" data-toggle="contactForm">{% trans 'Napisz do nas' %}</button>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock content %}
