{% extends 'base.html' %}

{% load i18n %}
{% load wagtailcore_tags %}

{% block title %}
{% trans 'News' %} - {{ block.super }}
{% endblock title %}

{% block content %}
    <a href={% pageurl page.get_parent %}>do góry</a>

    <h1>{{ page.title }}</h1>
    <div>
        <h2>{% trans 'Latest' %}</h2>
        {% for article in page.latest_news.all %}
            {% include 'main/articles_slider.html' with article=article %}
        {% endfor %}
    </div>
    <hr>
    <div>
        <h2>{% trans 'Other' %}</h2>
        {% for article in page.older_news.all %}
            {% include 'main/article_tile.html' with article=article %}
        {% empty %}
            <div>{% trans 'No more articles' %}</div>
        {% endfor %}
    </div>
{% endblock content %}
