{% extends 'base.html' %}

{% load i18n %}
{% load main_tags %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block title %}
    {{ page.title }} - {{ block.super }}
{% endblock title %}

{% block content %}

    {% if top_article %}
        {% image top_article.photo max-2560x2048 as hero_background %}
        <section class="ee-hero ee-subpage-hero" style="background-image: url('{{ hero_background.url }}')">
            <div class="ee-hero-body">
                <div class="container">
                    <h2 class="ee-title--super">Wyróżnione</h2>
                </div>
            </div>
            <div class="ee-hero-body">
                <div class="container">
                    <h1 class="ee-title--large">
                        {{ top_article.title }}
                    </h1>
                    <p class="ee-headline">
                        {{ top_article.headline }}
                    </p>
                    <a href="{% pageurl top_article %}" class="button is-outlined is-light is-uppercase is-radiusless ee-button">
                        {% trans 'Find out more' %}
                    </a>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="ee-section">
        <div class="ee-section-title">
            Dzieje się
        </div>
        <div class="ee-section-tiles">
            {% for article in rest_of_articles %}
                {% include 'main/partials/article_card.html' with article=article %}
            {% empty %}
                <p>{% trans 'No more articles' %}</p>
            {% endfor %}
        </div>
    </section>

{% endblock content %}
