{% load main_tags %}

<section class="ee-solutions-block">
    <div class="ee-solutions-block__title-container">
        <h2 class="ee-solutions-block__title">
            {{ value.title }}
        </h2>
    </div>
    <div class="container ee-solutions-block__has-scroll">
        <div class="ee-solutions-block__items-container">
            {% for tile in value.tiles %}
                <div class="ee-solutions-block__item">
                    <div class="ee-solutions-block__item-icon">
                        {% image_with_srcset tile.icon %}
                    </div>
                    <h3 class="ee-solutions-block__item-title">
                        {{ tile.text }}
                    </h3>
                </div>
                {% if not forloop.last %}
                    <div class="ee-solutions-block__item-spacer"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
