{% load i18n %}
{% load wagtailcore_tags %}
{% load main_tags %}

<section class="ee-section ee-hero-carousel__desktop-header">
    <div class="ee-section__title">
        {{ value.headline }}
    </div>
</section>

<section class="ee-hero-carousel">
    <div class="ee-hero-carousel__controls">
        <div class="container ee-hero-carousel__controls-container">

        </div>
    </div>
    <div class="ee-hero-carousel__container">
        {% for tile in value.tiles %}
            <div class="ee-hero-carousel__content ee-has-parallax ee-has-background-image">
                {% dynamic_fill_image tile.background_image class='ee-background-image' %}
                <div class="container ee-hero-carousel__content-container">
                    {% if tile.secondary_page %}
                        <a class="ee-hero-carousel__content-tags" href="{% pageurl tile.secondary_page %}">
                            #{{ tile.secondary_page.title }}
                        </a>
                    {% endif %}
                    <div class="ee-hero-carousel__content-title">
                        {{ tile.page.title }}
                    </div>
                    <div class="ee-hero-carousel__content-subtitle">
                        {{ tile.headline }}
                    </div>
                    <div class="ee-hero-carousel__content-buttons">
                        <a href="{% url 'send_mail' %}" class="button is-light is-radiusless ee-button ee-contact-button">{% trans 'Check us out' %}</a>
                        <a href="{% pageurl tile.page %}" class="button is-outlined is-light is-radiusless ee-button">
                            {% trans 'Find out more' %}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
