{% load i18n %}
{% load main_tags %}

<section class="section ee-rd-block ee-has-parallax ee-has-background-image">
    {% dynamic_fill_image value.background_image class='ee-background-image' %}
    <div class="ee-rd-block__row">
        <div class="container has-text-right-desktop">
            <div class="columns">
                <div class="column is-half is-offset-6">
                    <h2 class="ee-rd-block__title">{{ value.headline }}</h2>
                    <h3 class="ee-rd-block__subtitle">{{ value.body }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="ee-rd-block__row">
        <div class="container">
            <div class="columns ee-rd-block__items">
                {% for tile in value.tiles %}
                    <div class="column">
                        <h4 class="ee-rd-block__item-title">{{ tile.value }}</h4>
                        <p class="ee-rd-block__item-subtitle">{{ tile.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
