DJANGO_SECRET_KEY=2PoxL5UE22f0cWk9ZwjR59nyH6HLJjap3Oy4WSz+steUuk9x/5YPdDG6J9dyaOyiFZpLUcDebrw7giyC/BAsmg==

# eg. psql://user:password@localhost:5432/dbname, see github.com/joke2k/django-environ
DATABASE_URL=

# if you're willing to test emails on your own mailbox, here's the place to declare its address
CONTACT_EMAIL=