# Generate a new random one!
DJANGO_SECRET_KEY=

# eg. psql://user:password@localhost:5432/dbname, see github.com/joke2k/django-environ
DJANGO_DATABASE_URL=

# format should look like https://XXX:XXX@sentry.laboratorium.ee/[int]
RAVEN_DSN=

# fill only if necessary, should look like: UA-XXXXX-Y
GOOGLE_ANALYTICS_ID=
