.ee-sticky-contact-form {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: rgba(black, 0.9);
    z-index: 20010;
    padding: 3rem 7rem;
    transform: translateX(100%);
    @include transition();

    @include touch {
        width: 100vw;
        padding: 2rem;
    }

    &.active {
        transform: translateX(0);
    }
}

.ee-sticky-contact-form__trigger {
    content: '';
    position: absolute;
    left: -3rem;
    width: 3rem;
    height: 3rem;
    background: url("/images/mail-icon.svg") no-repeat;
    cursor: pointer;
}

.ee-sticky-contact-form__close-button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.ee-sticky-contact-form__headline-items {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.ee-sticky-contact-form__headline-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}

.ee-sticky-contact-form__headline-item__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;

    @include touch {
        width: 2rem;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.ee-sticky-contact-form__headline-item__title {
    font-size: 1.2rem;
    font-weight: 500;
    flex-basis: 60%;
}

// =================================
// Contact Form
// =================================

.ee-contact-form {

    & > *:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    .input {
        border-radius: 0;
        border-bottom: 3px solid rgba(white, 0.7);
        padding: 1rem;

        &::placeholder {
            text-align: right;
        }
    }

    .textarea {
        border-radius: 0;
        border: none;
        border-bottom: 3px solid rgba(white, 0.7);
        padding: 1rem;

        &::placeholder {
            text-align: right;
        }
    }

    .select {
        width: 100%;
        border: none;
        border-bottom: 3px solid rgba(white, 0.7);

        .control {
            width: 100%;
            border: none;
        }
    }

    .file-cta {
        border-radius: 0;
    }
}
