.ee-sticky-contact-form {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0;
    right: 0;
    width: 40vw;
    min-height: 100vh;
    background-color: rgba(black, 0.9);
    z-index: 20010;
    padding: 3rem 7rem;
    transform: translateX(100%);
    @include transition();

    @include touch {
        width: 100vw;
        padding: 0;
    }

    &.active {
        transform: translateX(0);
    }
}

.ee-sticky-contact-form__container {
    @include touch {
        padding: 2rem;
        overflow-y: scroll;
        height: calc(100vh - 1px);
    }
}

.ee-sticky-contact-form__trigger {
    content: "";
    position: absolute;
    left: -3rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.ee-sticky-contact-form__close-button {
    display: none;
    @include touch {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
}

.ee-sticky-contact-form__headline-items {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.ee-sticky-contact-form__headline-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}

.ee-sticky-contact-form__headline-item__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;

    @include touch {
        width: 2rem;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.ee-sticky-contact-form__headline-item__title {
    font-size: 1.2rem;
    font-weight: 500;
    flex-basis: 60%;

    @include touch {
        font-size: 0.875rem;
    }
}

// =================================
// Contact Form
// =================================

.ee-contact-form-container {
    width: 100%;
}
