@import "../utilities/index.mixins";

$initScale: 1.05;
$rescale: 1 / $initScale;

.ee-specialization-card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    background-size: cover;
    height: 36rem;
    padding: 4rem 3rem;
    @include transition();

    @include touch {
        padding: 2rem;
        width: 85vw;
    }

    &:first-child {
        transform-origin: right;
        padding-left: 5rem;

        @include touch {
            padding-left: 2rem;
        }
    }

    &:last-child {
        transform-origin: left;
        padding-right: 5rem;

        @include touch {
            padding-left: 2rem;
        }
    }

    &:hover {
        cursor: pointer;
        transform: scale($initScale);
        @include shadow($size: xl, $tint: #f7cd87, $alpha: 0.2);

        .ee-specialization-card__headline, .ee-specialization-card__buttons {
            opacity: 1;
            transform: scale($rescale);
        }
    }
}

.ee-specialization-card__content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 85%;

    @include touch {
        height: 100%;
    }
}

.ee-specialization-card__title {
    flex-basis: 100%;
    font-size: 2rem;
    font-weight: 700;
}

.ee-specialization-card__headline {
    flex-basis: 100%;
    font-size: 1rem;
    color: rgba(white, 0.7);
    line-height: 1.8;
    opacity: 0;
    @include transition();

    @include touch {
        opacity: 1;
    }
}

.ee-specialization-card__buttons {
    display: flex;
    align-items: flex-end;
    flex-basis: 100%;
    margin-top: auto;
    opacity: 0;
    @include transition();

    @include touch {
        opacity: 1;
    }
}
