{% load svg %}
{% load i18n %}

<section class="ee-solutions-block">
        <div class="ee-solutions-block__title-container">
            <h2 class="ee-solutions-block__title">
                {% trans 'Jak powstają nasze rozwiązania?' %}
            </h2>
        </div>
        <div class="container ee-solutions-block__has-scroll">
            <div class="ee-solutions-block__items-container">
                <div class="ee-solutions-block__item">
                    <div class="ee-solutions-block__item-icon">
                        {% svg 'ico-lupka' %}
                    </div>
                    <h3 class="ee-solutions-block__item-title">
                        {% trans 'Needs analysis' %}
                    </h3>
                </div>
                <div class="ee-solutions-block__item-spacer"></div>
                <div class="ee-solutions-block__item">
                    <div class="ee-solutions-block__item-icon">
                        {% svg 'ico-post-it' %}
                    </div>
                    <h3 class="ee-solutions-block__item-title">
                        {% trans 'Warsztaty partycypacyjne i Google Design Sprint' %}
                    </h3>
                </div>
                <div class="ee-solutions-block__item-spacer"></div>
                <div class="ee-solutions-block__item">
                    <div class="ee-solutions-block__item-icon">
                        {% svg 'ico-proto' %}
                    </div>
                    <h3 class="ee-solutions-block__item-title">
                        {% trans 'Prototyp i Minimum Viable Product' %}
                    </h3>
                </div>
                <div class="ee-solutions-block__item-spacer"></div>
                <div class="ee-solutions-block__item">
                    <div class="ee-solutions-block__item-icon">
                        {% svg 'ico-agile' %}
                    </div>
                    <h3 class="ee-solutions-block__item-title">
                        {% trans 'Wdrażanie Zwinne' %}
                    </h3>
                </div>
            </div>
        </div>
    </section>
