{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load main_tags %}

<section class="section ee-topics-block ee-has-background-image">
    {% for topic in value.topics %}
        {% image_with_srcset topic.background_image class='ee-background-image is-invisible' %}
    {% endfor %}
    <div class="container">
        <div class="columns">
            <div class="column is-one-third ee-topics-block__content">
                <h3 class="ee-topics-block__title">{{ value.headline }}</h3>
                <div class="ee-topics-block__buttons">
                    {% for topic in value.topics %}
                        <div class="ee-topics-block__buttons-wrapper">
                            <a
                                {% if topic.page %}href="{% pageurl topic.page %}"{% endif %}
                                class="button is-light is-outlined is-radiusless ee-button"
                                data-background-image-id="{{ topic.background_image.id }}"
                                data-side-image-id="{{ topic.side_image.id }}"
                            >
                                {{ topic.title }}
                            </a>
                            <a href="#" class="button is-light is-outlined is-radiusless ee-button">Sprawdź projekt</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="column ee-topics-block__image-container">
                {% for topic in value.topics %}
                    {% if topic.side_image %}
                        {% image_with_srcset topic.side_image class="ee-topics-block__image" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
